
<h2 class="page-header">Products Management</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/administration/products">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" placeholder="Price" name="price">
  </div>
   <div class="form-group">
    <label>Quantity</label>
    <input type="text" class="form-control" placeholder="Quantity" name="quantity">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" class="form-control" placeholder="Category" name="category">
  </div>
  <div class="form-group">
    <label>Market</label>
    <input type="text" class="form-control" placeholder="Market" name="market">
  </div>
  <div class="form-group">
    <label>Image link</label>
    <input type="text" class="form-control" placeholder="Image link" name="image_link">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
